table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  img{
    width:40px;
    height:40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }
  nav {
    display: flex;
    align-items: center;
    background-color:#dc3f3f;
    color:#fff;
    padding: 10px;
    text-align: left;
   padding-left: 50px;
   
  }
  
.container
{
  text-align: left;
  padding-left: 50px;
  padding-top: 20px;
  height:100vh;
  background:linear-gradient(to right,rgb(235, 234, 160) 40%,white 70%)no-repeat;
}
.ben{
  color:#dc3f3f;
}
thead{
  color: #dc3f3f;
}
.class{
  color:#dc3f3f;
}
.btn
{
  background-color:#dc3f3f;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin-left: 10px; /* Add some margin between the buttons */
    }
