nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#f4f2f2;
  color:black;
  padding: 10px;
}

.logo img {
  height: 50px;
padding-left: 50px;
}

.nav-content {
  text-align: center;
}

.nav-buttons {
  
  color: #181818;
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.button:hover {
  background-color:  #dc3f3f; 
  color:#fff/* Change button color on hover */
}

.button {
  background-color:#f4f2f2;
  color: #dc3f3f;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.main-content {
  display: flex;
   justify-content: space-between;
  align-items: center;
  
}

.left-content {
  width: 50%;
  margin-top: 50px;
  padding-left: 50px;
}

.right-content img {
  width: 100%;
  height: auto;
 width: 800px;
height: 600px;
padding-top: 30px;
padding-right: 100px;
      }
      .btn {
        background-color:#dc3f3f;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin-left: 10px; /* Add some margin between the buttons */
    }
.btn1{
        background-color:orange;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin-left: 10px; /* Add some margin between the buttons */
    }
   .circle{
    background-image: url("circles.png");
   
   background-repeat: no-repeat;
        background-size:auto 120%;
        
   }
   .image
   {
    width:100px;
    height:150px;
    position: relative;
    padding: none;
   }
